@model IEnumerable<ProductResponse>
@{
    ViewBag.Title = "Products";
}

@if (User.IsInRole(UserTypeOptions.Administrator.ToString()) || User.IsInRole(UserTypeOptions.Manager.ToString()))
{
    <div class="container">
        <header class="d-flex justify-content-center py-3">
            <ul class="nav nav-pills">
                <li class="nav-item"><a asp-controller="Products" asp-action="Create" class="nav-link">Add Product</a></li>
            </ul>
        </header>
    </div>
}


<h1>Products</h1>
<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>SKU</th>
            <th>Description</th>
            <th>Category</th>
            <th>Unit Price</th>
            <th>Stock Quantity</th>
            <th>Reorder Level</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductName</td>
                <td>@product.SKU</td>
                <td>@product.ProductDescription</td>
                <td>@product.CategoryName</td>
                <td class="unit-price">@product.FormattedUnitPrice</td>
                <td>@product.StockQuantity</td>
                <td>@product.ReorderLevel</td>
                @if (User.IsInRole(UserTypeOptions.Administrator.ToString()) || User.IsInRole(UserTypeOptions.Manager.ToString()))
                {
                    <td><a class="btn btn-primary" asp-controller="Products" asp-action="Update" asp-route-id="@product.ProductID" role="button">Update</a></td>
                    <td><a class="btn btn-danger" asp-controller="Products" asp-action="Delete" asp-route-id="@product.ProductID" role="button">Delete</a></td>
                }
                @if (User.IsInRole(UserTypeOptions.Sales.ToString()))
                {
                    <td><a data-productID="@product.ProductID" class="btn btn-primary edit-unit-price-button" role="button">Edit Unit Price</a></td>
                }
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="update-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update unit price</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Enter the new unit price:</p>
                <input id="new-unit-price" type="number" step="0.01" placeholder="0,00" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="modal-update-btn">Update</button>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script>
        const newUnitPriceInput = document.getElementById("new-unit-price");
        const editUnitPriceButtons = document.querySelectorAll(".edit-unit-price-button");
        let currentProductID = '';
        const modalUpdateBtn = document.getElementById('modal-update-btn');

        const updateModal = new bootstrap.Modal(document.getElementById('update-modal'));

        editUnitPriceButtons.forEach(button => {
            button.addEventListener("click", async () => {
                currentProductID = button.getAttribute("data-productID");
                newUnitPriceInput.value = "";
                updateModal.show();
            });
        });

        modalUpdateBtn.addEventListener("click", async () => {
                if (newUnitPriceInput.value.trim() === "")
                {
                    alert("Please enter a new unit price.");
                    return;
                }
                try{
                   var response = await fetch('/Products/EditUnitPrice', {
                                                method: "POST",
                                                headers: {
                                                    "Content-Type": "application/json"
                                                },
                                                body: JSON.stringify({
                                                    productID: currentProductID,
                                                    newUnitPrice: newUnitPriceInput.value
                                                })
                                            });
                    var responseBody = await response.text();
                    const toastContainer = document.getElementById("toast");
                    toastContainer.innerHTML = responseBody;

                        const row = document.querySelector(`[data-productID="${currentProductID}"]`).closest("tr");
    
                        const unitPriceCell = row.querySelector('.unit-price');

                        if (unitPriceCell) {
                            let numericValue = parseFloat(newUnitPriceInput.value);
                            if (!isNaN(numericValue)) {
                                let roundedWithDot = (Math.floor(numericValue * 100) / 100).toFixed(2);
                                unitPriceCell.textContent = roundedWithDot.replace('.', ',');
                            }
                        }

                    const toastElement = document.querySelector(".toast");
                    if (toastElement) {
                        const bootstrapToast = new bootstrap.Toast(toastElement);
                        bootstrapToast.show();
                    }
                }
                catch (error)
                {
                    console.error(error);
                }

               
        });
    </script>
}