@model IEnumerable<ProductResponse>
@{
    ViewBag.Title = "Products";
}


<div class="container my-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="mb-0">Products</h1>
        @if (User.IsInRole(UserTypeOptions.Administrator.ToString()) || User.IsInRole(UserTypeOptions.Manager.ToString()))
        {
            <a asp-controller="Products" asp-action="Create" class="btn btn-success d-inline-flex align-items-center gap-2">
                Register New Product
            </a>
        }

    </div>

    @await Component.InvokeAsync("FilterSearchBar", new { controllerName = "Products", actionName = "Index" })

    <div class="table-responsive">
        <table class="table table-striped table-hover align-middle">
            <thead class="table-light">
                <tr>
                    @await Component.InvokeAsync("TableHeader", new { propertyName = nameof(ProductResponse.ProductName) })
                    @await Component.InvokeAsync("TableHeader", new { propertyName = nameof(ProductResponse.SKU) })
                    @await Component.InvokeAsync("TableHeader", new { propertyName = nameof(ProductResponse.ProductDescription) })
                    @await Component.InvokeAsync("TableHeader", new { propertyName = nameof(ProductResponse.CategoryName) })
                    @await Component.InvokeAsync("TableHeader", new { propertyName = nameof(ProductResponse.UnitPrice) })
                    @await Component.InvokeAsync("TableHeader", new { propertyName = nameof(ProductResponse.StockQuantity) })
                    @await Component.InvokeAsync("TableHeader", new { propertyName = nameof(ProductResponse.ReorderLevel) })
                    <th style="width: 1%;"></th>
                    <th style="width: 1%;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td>@product.ProductName</td>
                        <td>@product.SKU</td>
                        <td>@product.ProductDescription</td>
                        <td>@product.CategoryName</td>
                        <td class="unit-price">@product.FormattedUnitPrice</td>
                        <td class="stock-quantity">@product.StockQuantity</td>
                        <td>@product.ReorderLevel</td>
                        @if (User.IsInRole(UserTypeOptions.Administrator.ToString()) || User.IsInRole(UserTypeOptions.Manager.ToString()))
                        {
                            <td><a class="btn btn-sm btn-outline-primary" asp-controller="Products" asp-action="Update" asp-route-id="@product.ProductID" role="button">Update</a></td>
                            <td><a class="btn btn-sm btn-outline-danger" asp-controller="Products" asp-action="Delete" asp-route-id="@product.ProductID" role="button">Delete</a></td>
                        }
                        @if (User.IsInRole(UserTypeOptions.Sales.ToString()))
                        {
                            <td><a data-productID="@product.ProductID" class="btn btn-sm btn-outline-primary edit-unit-price-button" role="button">Edit Unit Price</a></td>
                        }
                        @if (User.IsInRole(UserTypeOptions.Operator.ToString()))
                        {
                            <td><a data-productID="@product.ProductID" class="btn btn-sm btn-outline-primary edit-stock-quantity-button" role="button">Edit Stock Quantity</a></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@if (User.IsInRole(UserTypeOptions.Sales.ToString()))
{
    <div class="modal fade" id="update-modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update unit price</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Enter the new unit price:</p>
                    <input id="new-unit-price" type="number" step="0.01" placeholder="0,00" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="modal-update-btn">Update</button>
                </div>
            </div>
        </div>
    </div>


    @section Scripts
    {
        <script>
            const newUnitPriceInput = document.getElementById("new-unit-price");
            const editUnitPriceButtons = document.querySelectorAll(".edit-unit-price-button");
            let currentProductID = '';
            const modalUpdateBtn = document.getElementById('modal-update-btn');

            const updateModal = new bootstrap.Modal(document.getElementById('update-modal'));

            editUnitPriceButtons.forEach(button => {
                button.addEventListener("click", async () => {
                    currentProductID = button.getAttribute("data-productID");
                    newUnitPriceInput.value = "";
                    updateModal.show();
                });
            });

            modalUpdateBtn.addEventListener("click", async () => {
                    if (newUnitPriceInput.value.trim() === "" || parseFloat(newUnitPriceInput.value) <= 0)
                    {
                        alert("Please enter a valid unit price value.");
                        return;
                    }
                    try{
                       var response = await fetch('/Products/EditUnitPrice', {
                                                    method: "POST",
                                                    headers: {
                                                        "Content-Type": "application/json"
                                                    },
                                                    body: JSON.stringify({
                                                        productID: currentProductID,
                                                        newUnitPrice: newUnitPriceInput.value
                                                    })
                                                });
                        var responseBody = await response.text();
                        const toastContainer = document.getElementById("toast");
                        toastContainer.innerHTML = responseBody;

                            const row = document.querySelector(`[data-productID="${currentProductID}"]`).closest("tr");

                            const unitPriceCell = row.querySelector('.unit-price');

                            if (unitPriceCell) {
                                let numericValue = parseFloat(newUnitPriceInput.value);
                                if (!isNaN(numericValue)) {
                                    let roundedWithDot = (Math.floor(numericValue * 100) / 100).toFixed(2);
                                    unitPriceCell.textContent = roundedWithDot.replace('.', ',');
                                }
                            }

                        const toastElement = document.querySelector(".toast");
                        if (toastElement) {
                            const bootstrapToast = new bootstrap.Toast(toastElement);
                            bootstrapToast.show();
                        }
                    }
                    catch (error)
                    {
                        console.error(error);
                    }

               
            });
        </script>
    }
}


@if (User.IsInRole(UserTypeOptions.Operator.ToString()))
{
    <div class="modal fade" id="update-modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update stock quantity</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Enter the new stock quantity:</p>
                    <input id="new-stock-quantity" type="number" step="1" placeholder="0" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="modal-update-btn">Update</button>
                </div>
            </div>
        </div>
    </div>


    @section Scripts
    {
        <script>
            const newStockQuantityInput = document.getElementById("new-stock-quantity");
            const editStockQuantityButtons = document.querySelectorAll(".edit-stock-quantity-button");
            let currentProductID = '';
            const modalUpdateBtn = document.getElementById('modal-update-btn');

            const updateModal = new bootstrap.Modal(document.getElementById('update-modal'));

            editStockQuantityButtons.forEach(button => {
                button.addEventListener("click", async () => {
                    currentProductID = button.getAttribute("data-productID");
                    newStockQuantityInput.value = "";
                    updateModal.show();
                });
            });

            modalUpdateBtn.addEventListener("click", async () => {
                    if (newStockQuantityInput.value.trim() === "" || newStockQuantityInput.value < 0)
                    {
                        alert("Please enter a valid stock quantity value.");
                        return;
                    }
                    try{
                       var response = await fetch('/Products/EditStockQuantity', {
                                                    method: "POST",
                                                    headers: {
                                                        "Content-Type": "application/json"
                                                    },
                                                    body: JSON.stringify({
                                                        productID: currentProductID,
                                                        newStockQuantity: newStockQuantityInput.value
                                                    })
                                                });
                        var responseBody = await response.text();
                        const toastContainer = document.getElementById("toast");
                        toastContainer.innerHTML = responseBody;

                            const row = document.querySelector(`[data-productID="${currentProductID}"]`).closest("tr");

                            const stockQuantityCell = row.querySelector('.stock-quantity');

                            if (stockQuantityCell) {
                                stockQuantityCell.textContent = newStockQuantityInput.value;
                            }

                        const toastElement = document.querySelector(".toast");
                        if (toastElement) {
                            const bootstrapToast = new bootstrap.Toast(toastElement);
                            bootstrapToast.show();
                        }
                    }
                    catch (error)
                    {
                        console.error(error);
                    }

               
            });
        </script>
    }
}
