@model IEnumerable<OrderWithProductsModel>
@{
    ViewBag.Title = "Orders";
}

<div class="container">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item"><a asp-controller="Orders" asp-action="Create" class="nav-link">Register New Order</a></li>
        </ul>
    </header>
</div>

<h1>Deliveries</h1>
<table class="table">
    <thead>
        <tr>
            <th>Customer Name</th>
            <th>Customer's TIN</th>
            <th>Order Date</th>
            <th>Status</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    
    @foreach (var dwp in Model)
    {
        <tbody class="delivery-record">
            <tr>
                <td>@dwp.Order?.CustomerName</td>
                <td>@dwp.Order?.TIN</td>
                <td>@dwp.Order?.OrderDate</td>
                <td>@dwp.Order?.Status</td>
                <td><a class="btn btn-primary" asp-controller="Orders" asp-action="Update" asp-route-id="@dwp.Order?.OrderID" role="button">Update</a></td>
                <td><button class="btn btn-danger delete-btn" data-deliveryID="@dwp.Order?.OrderID">Delete</button></td>
            </tr>
            @if (dwp.Items is not null)
            {
                @foreach (OrderItemResponse? item in dwp.Items)
                {
                    <tr>
                        <td>@item?.ProductName</td>
                        <td>@item?.SKU</td>
                        <td>@item?.Quantity</td>
                        <td>@item?.PriceAtSale</td>
                        <td>@item?.ProductUnitPrice</td>
                        <td></td>
                    </tr>
                }
            }
        </tbody>

            
    }
    
</table>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete order information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this order entry?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="modal-delete-btn">Delete</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        const modalElement = document.getElementById('deleteModal');
        const deleteBtns = document.querySelectorAll(".delete-btn");
        const modalDeleteBtn = document.getElementById('modal-delete-btn');
        let currentOrderId = '';
        const myModal = new bootstrap.Modal(modalElement);

        deleteBtns.forEach((btn) => {
            btn.addEventListener('click', () => {
                currentOrderId = btn.getAttribute('data-deliveryID');
                myModal.show();
            });
        });

        modalDeleteBtn.addEventListener('click', async () => {
            try
            {
                if (currentOrderId == "")
                {
                    return;
                }
                var response = await fetch(`Delete/${currentOrderId}`, {method: "DELETE"});
                var responseBody = await response.text();
                const toastContainer = document.getElementById("toast");
                toastContainer.innerHTML = responseBody;

                const deliveryToDelete = document.querySelector(`button[data-deliveryID="${currentOrderId}"]`).closest(".delivery-record");
                if(deliveryToDelete)
                {
                    deliveryToDelete.remove();
                }

                const toastElement = document.querySelector(".toast");
                if (toastElement) {
                    const bootstrapToast = new bootstrap.Toast(toastElement);
                    bootstrapToast.show();
                }
            }
            catch (error)
            {
                console.error(error);
            }
        });
        
    </script>
}