@model RegisterDeliveryViewModel
@{
    ViewBag.Title = "Register New Delivery";
}

<h1>Register New Product</h1>

<form id="deliveryRegisterForm" asp-controller="Deliveries" asp-action="Create" method="post">
    <div class="form-group">

        <div class="mb-3">
            <label asp-for="DeliveryAddRequest.SupplierID" class="form-label">Supplier</label>
            <select class="form-select" asp-for="DeliveryAddRequest.SupplierID" asp-items="@ViewBag.Suppliers">
                <option value="">Select Supplier</option>
            </select>
            <span asp-validation-for="DeliveryAddRequest.SupplierID" class="text-danger"></span>
            @* <div class="form-text"></div> *@
        </div>

        <div class="mb-3">
            <label asp-for="DeliveryAddRequest.OrderDate" class="form-label">Order Date</label>
            <input asp-for="DeliveryAddRequest.OrderDate" class="form-control" value="@ViewBag.CurrentDate">
            <span asp-validation-for="DeliveryAddRequest.OrderDate" class="text-danger"></span>
            @* <div class="form-text"></div> *@
        </div>

        <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="DeliveryAddRequest.Status" value="@Enum.GetName(DeliveryStatus.ORDERED)" checked>
            <label class="form-check-label" for="@Enum.GetName(DeliveryStatus.ORDERED)">
                Ordered
            </label>
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" type="radio" asp-for="DeliveryAddRequest.Status" value="@Enum.GetName(DeliveryStatus.IN_TRANSIT)">
            <label class="form-check-label" for="@Enum.GetName(DeliveryStatus.IN_TRANSIT)">
                Already in transit
            </label>
        </div>

        <div id="products">

            @await Component.InvokeAsync("AddDeliveryItem", new
            {
                index = 0
            })
        </div>

        <div class="mb-3">
            <button type="button" class="btn btn-secondary" id="addProductBtn">Add New Product</button>
        </div>
        
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </div>
</form>

@section Scripts
{
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer" asp-fallback-test="window.jQuery" asp-fallback-src="~/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/jquery.validate.min.js" integrity="sha512-KFHXdr2oObHKI9w4Hv1XPKc898mE4kgYx58oqsc/JqqdLMDI4YjOLzom+EMlW8HFUd0QfjfAvxSL6sEq/a42fQ==" crossorigin="anonymous" referrerpolicy="no-referrer" asp-fallback-test="window.jQuery.validator" asp-fallback-src="~/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer" asp-fallback-test="window.jQuery.validator.unobtrusive" asp-fallback-src="~/jquery.validate.unobtrusive.min.js"></script>

    <script>
        // Reset cleint-side validation
        function reinitializeValidation(formSelector) {
            const $form = $(formSelector);

            $form.removeData("validator");
            $form.removeData("unobtrusiveValidation");

            $.validator.unobtrusive.parse($form);
        }

        let i = 1;
        const addBtn = document.getElementById("addProductBtn");
        const productsContainer = document.getElementById("products");

        // Add new product to form
        addBtn.addEventListener("click", async () => {
            try
            {
                var response = await fetch(`get-product/${i}`, {method: "GET"});
                var responseBody = await response.text();
                productsContainer.insertAdjacentHTML('beforeend', responseBody);
                i++;

                reinitializeValidation('#deliveryRegisterForm');
            }
            catch (error)
            {
                console.error(error);
            }
            
        });

        // Automatically insert product price inside 'Current Price'
        document.addEventListener('change', function (e) {
            if (e.target && e.target.classList.contains('product-select')) {
                const select = e.target;
                const selectedOption = select.options[select.selectedIndex];
                const price = selectedOption.getAttribute('data-price');

                const parent = select.closest('.mb-3');
                const priceInput = parent.querySelector('.price-input');

                if (priceInput) {
                    priceInput.value = price || 0;
                }
            }
        });
    </script>
}