@model DeliveryAddRequest
@{
    ViewBag.Title = "Register New Delivery";
}

<h1>Register New Product</h1>

<form asp-controller="Deliveries" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="SupplierID" class="form-label">Supplier</label>
        <select class="form-select" asp-for="SupplierID" asp-items="@ViewBag.Suppliers">
            <option value="">Select Supplier</option>
        </select>
        <span asp-validation-for="SupplierID" class="text-danger"></span>
        @* <div class="form-text"></div> *@
    </div>

    <div class="mb-3">
        <label asp-for="OrderDate" class="form-label">Order Date</label>
        <input asp-for="OrderDate" class="form-control" value="@ViewBag.CurrentDate">
        <span asp-validation-for="OrderDate" class="text-danger"></span>
        @* <div class="form-text"></div> *@
    </div>

    <div class="form-check">
        <input class="form-check-input" type="radio" asp-for="Status" value="@Enum.GetName(DeliveryStatus.ORDERED)" checked>
        <label class="form-check-label" for="@Enum.GetName(DeliveryStatus.ORDERED)">
            Ordered
        </label>
    </div>
    <div class="form-check mb-3">
        <input class="form-check-input" type="radio" asp-for="Status" value="@Enum.GetName(DeliveryStatus.IN_TRANSIT)">
        <label class="form-check-label" for="@Enum.GetName(DeliveryStatus.ORDERED)">
            Already in transit
        </label>
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
</form>

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer" asp-fallback-test="window.jQuery" asp-fallback-src="~/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/jquery.validate.min.js" integrity="sha512-KFHXdr2oObHKI9w4Hv1XPKc898mE4kgYx58oqsc/JqqdLMDI4YjOLzom+EMlW8HFUd0QfjfAvxSL6sEq/a42fQ==" crossorigin="anonymous" referrerpolicy="no-referrer" asp-fallback-test="window.jQuery.validator" asp-fallback-src="~/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer" asp-fallback-test="window.jQuery.validator.unobtrusive" asp-fallback-src="~/jquery.validate.unobtrusive.min.js"></script>
}