@model IEnumerable<DeliveryResponse>
@{
    ViewBag.Title = "Deliveries";
}

<div class="container">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item"><a asp-controller="Deliveries" asp-action="Create" class="nav-link">Register New Delivery</a></li>
        </ul>
    </header>
</div>

<h1>Deliveries</h1>
<table class="table">
    <thead>
        <tr>
            <th>Supplier Name</th>
            <th>Delivery Date</th>
            <th>Status</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var delivery in Model)
        {
            <tr>
                <td>@delivery.SupplierName</td>
                <td>@delivery.DeliveryDate</td>
                <td>@delivery.Status</td>
                <td><a class="btn btn-primary" asp-controller="Deliveries" asp-action="Update" asp-route-id="@delivery.DeliveryID" role="button">Update</a></td>
                <td><a class="btn btn-danger" asp-controller="Deliveries" asp-action="Delete" asp-route-id="@delivery.DeliveryID" role="button">Delete</a></td>
            </tr>
        }
    </tbody>
</table>