@model IEnumerable<DeliveryWithProductsModel>
@{
    ViewBag.Title = "Deliveries";
}

<div class="container">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item"><a asp-controller="Deliveries" asp-action="Create" class="nav-link">Register New Delivery</a></li>
        </ul>
    </header>
</div>

<h1>Deliveries</h1>
<table class="table">
    <thead>
        <tr>
            <th>Supplier Name</th>
            <th>Delivery Date</th>
            <th>Status</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dwp in Model)
        {
            <tr>
                <td>@dwp.Delivery?.SupplierName</td>
                <td>@dwp.Delivery?.DeliveryDate</td>
                <td>@dwp.Delivery?.Status</td>
                <td><a class="btn btn-primary" asp-controller="Deliveries" asp-action="Update" asp-route-id="@dwp.Delivery?.DeliveryID" role="button">Update</a></td>
                <td><a class="btn btn-danger" asp-controller="Deliveries" asp-action="Delete" asp-route-id="@dwp.Delivery?.DeliveryID" role="button">Delete</a></td>
            </tr>
            @if(dwp.Items is not null)
            {
                @foreach (DeliveryItemResponse item in dwp.Items)
                {
                    <tr>
                        <td>@item.ProductName</td>
                        <td>@item.SKU</td>
                        <td>@item.Quantity</td>
                        <td>@item.ProductUnitPrice</td>
                        <td></td>
                    </tr>
                }
            }
            
        }
    </tbody>
</table>